body{
    background-image: url("./images/body_bg.png");
    width: 100%;
}
.abc{
    height: 66px;
    background-color:whitesmoke;
    margin-top: -16px;
    margin-left: -10px;
    border-bottom:2px solid lightgrey;
    
}
 
.mmm{
    margin-left: 190px;
}
li{  
    display: inline-block;
    /* padding-right: 11px; */
    /* padding-left: 08px; */
    padding-right: -2px;   
}
#q1,#q2,#q3{ 
    margin-bottom: 08px;
    padding-left: 06px;
}    
#q4{
    margin-top: -1px;
    box-shadow: -2px -1px 4px grey;
}
#q5,#q6{
    margin-bottom: 10px;
    padding-left : 08px;
    padding-right: 06px;
}
#s1:hover{
    border: 2px;
    border-color:grey;
    

}
#s1:hover,#s2:hover,#s3:hover,#s5:hover,#s6:hover{
    opacity: 0.6;
}
#s4:hover{
 opacity: 0.5;   
}

  
 
 dd{
    font-size: 15px;
} 
 tr{   
    text-align: center;
}
table{
   margin-left: 190px;
    padding: 20px;
} 
.def{
    clear: both;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 5;
    background-color: white;
     display: inline-block;
     width: 100%;
    /* padding-bottom: 20px;
    padding-top: 10px;
    padding-left: 70px; */
    height: 88px;
    margin-left: -8px;    
    border-bottom:2px solid lightgrey;
} 

 #w1{
    padding-left:63px ;
    margin-top: -16px;
}
#t5{
    margin-top: -19px;
    margin-right: -20px;
    color:black;
    font-size: 14px;
    text-decoration: none;
}

#w2{
    padding-left: 92px;
    margin-top: -25px;
}
#t6{
    margin-top: -18px;
    margin-right: -52px;
    
    color: black;
    font-size: 14px;
}
#w3{
    padding-left: 95px;
    
    margin-top: -27px;
}
#t7{
    margin-top: -2px;
    margin-right: -55px;
    
    color: black;
    font-size: 14px;
}
#w4{
    padding-left: 98px;
    
    margin-top: -26px;
}
#t8{
    margin-top: -12px;
    margin-right: -58px;
    
    color: black;
    font-size: 14px;
}
#w5{
    padding-left: 97px;
    
    margin-top: -25px;
}
#t9{
    margin-top: -14px;
    margin-right: -58px;
    
    color: black;
    font-size: 14px;
}
#w6{
    padding-left: 98px;
     margin-top: -22px; 
    margin-top: -12px;
}
#t10{
    margin-top: -10px;
    margin-right: -57px;
    
    color: black;
    font-size:  14px;
}
#w7{
    padding-left: 80px;
    margin-top: -12px;
} 
 #y6{
    
    margin-top: -16px;
    margin-right: -39px;
    
    color: black;
    font-size: 14px;
} 
.dfg{
    clear: both;
    background-image: url("./images/container_bg.png");
    background-color: white;
    margin-left: 27px;
    margin-right: 42px;
    margin-top: -4px;
    height: 2394px;
}
.mnb{
    clear: both;
    background-color: white;
    margin-left: 187px;
    margin-right: 189px;
    height: 830px; 
    border-bottom-left-radius: 13px ;
    border-bottom-right-radius: 13px;
}
.bmn:hover{
    background-color:rgb(200, 147, 12);
    /* z-index: 1; */
    transition: 0s ease-in-out;
    transform: scale(1.01);
 
}
.bmn{
    clear: both;
    position: relative;
    top: 37px;
    left: 15px;
    /* z-index: 1; */
    background-color: rgb(230, 169, 17);
    width: 579px; 
    /* border: 1px transparent rgb(230, 169, 17); */
    border-radius: 5px;
    padding-bottom: 14px;
    
}
#m1{
    width: 100%;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
}
#v1#v2{
    padding: 20px;
}
#v2{
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    font-style: normal;
    margin-left: 18px; 
    font-weight: lighter;   
}
#v1{
    text-decoration: none;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 18px;
    font-style: italic;
    font-weight: lighter;
}
#x1{
    text-decoration: none;
}
.lkj:hover{
    background-color: #7b54b9;;
    z-index: 1;
    transition: 0s ease-in-out;
    transform: scale(1.01);
}
.lkj{
    position: relative;
    top: -430px;
    left: 610px;
    /* z-index: 1; */
    background-color: #855ac9;;
    width: 280px; 
    /* border: 1px transparent rgb(230, 169, 17); */
    border-radius: 5px;
    padding-bottom: 10px;
}
#m2{
    width: 100%;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
}
#v3{
    padding-left: 14px;
    text-align: left;
    color:white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    font-weight: lighter; 
}
#x2{
    text-decoration: none;
}
.tyu:hover{
    
    z-index: 1;
    transition: 0s ease-in-out;
    transform: scale(1.01);
}
.tyu{
    position: relative;
    top: -416px;
    left: 610px;
    z-index: 1;
    /* background-color: #212121; */
    /* width: 300px;  */
    /* border: 1px transparent rgb(230, 169, 17);*/
    border-radius: 5px;
    padding-bottom: 3px; 
}
#m3{
    border-radius: 7px;
}
.qer:hover{
    background-color:#212121;
    z-index: 1;
    transition: 0s ease-in-out;
    transform: scale(1.01);
}
.qer{
    position: relative;
    top: -390px;
    left: 15px;
    /* z-index: 1; */
    background-color: #313131;;
    width: 280px; 
    /* border: 1px transparent rgb(230, 169, 17); */
    border-radius: 5px;
    padding-bottom: 3px;
}
#m4{
    width: 100%;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
}
#v4{
    padding-left: 16px;
    text-align: left;
    color:white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    font-weight: lighter;
}
#x4{
    text-decoration: none;
}
.ert:hover{
    background-color: #e62d83;
    z-index: 1;
    transition: 0s ease-in-out;
    transform: scale(1.01);
}
.ert{
    position: relative;
    top: -677px;
    left: 313px;
    /* z-index: 1; */
    background-color:#ff90c4;
    width: 280px; 
    /* border: 1px transparent rgb(230, 169, 17); */
    border-radius: 5px;
    padding-bottom: 3px;   
}
#m5{
    width: 100%;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}
#v5{
    padding-left: 16px;
    text-align: left;
    color:white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    font-weight: lighter;
}
#x5{
    text-decoration: none;
}
.ytr:hover{
    background-color:#c5310f;
    z-index: 1;
    transition: 0s ease-in-out;
    transform: scale(1.01);
}
.ytr{
    position: relative;
    top: -955px;
    left: 610px;
    /* z-index: 1; */
    background-color:#E3350D;
    width: 280px; 
    /* border: 1px transparent rgb(230, 169, 17); */
    border-radius: 5px;
    padding-bottom: 3px;
}
.nhy{
    margin-top: 30px;
}
#m6{
    width: 100%;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}
#v6{
    padding-left: 16px;
    text-align: left;
    color:white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    font-weight: lighter;
}
#x6{
    text-decoration: none;
}
#m7{
    position: relative;
    top: -88px;
    left: -2px;
    width: 280px;
    z-index: 1;
    margin-left:203px ;
    margin-top: 43px;
    margin-bottom: -140px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}
 #m8{
    width: 231px;
    /* border: 2px solid  black; */
    margin-left: -1px;
}
#m9{
    width: 232px;
    /* border: 2px solid black; */
    margin-left: -4px;
}
#m10{
    width: 351px;
    margin-left:-5px;
    margin-bottom: -54px;
    /* border: 2px  black; */
    border-radius: 7px;
}
#m11{
    width: 234px;
    /* border: 2px solid  black; */
    margin-left: -5px;
    margin-bottom: -3px;
}
#m12{
    width: 235px;
    border: 2px solid  black;
    margin-left: -10px;
    height: 346px;
    
} 
/* #m13{
    border: #212121;
}
#m14{

} */
#m15{
    position: relative;
    top: 70px;
    left: 817px;
    border-radius: 5px;
    
}
.xxz{
    background-color:white;
    margin-left: 187px;
    margin-right: 189px;
    margin-top: 110px;
    height: 960px; 
    border-bottom-left-radius: 13px ;
    border-bottom-right-radius: 13px;
}
.xyz:hover{
    background-color:#212121;
    z-index: 1;
    transition: 0s ease-in-out;
    transform: scale(1.01);
}
.xyz{
    position: relative;
    top: -1055px;
    left: 18px;
    /* z-index: 1; */
    background-color: #313131;;
    width: 260px; 
    /* border: 1px transparent rgb(230, 169, 17); */
    border-radius: 5px;
    padding-bottom: 3px;
}
#m13{
    width: 100%;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
}
#v7{
    margin-top: 13px;
    margin-left: 18px;
    /* padding-left: 18px; */
    padding-right: 7px;
    text-align: left;
    color:white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 22px;
    font-weight: lighter;
    line-height: -45px;
}
#x8{
    text-decoration: none;
}
#v8{
    
    color:lightgray;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 17px;
    font-style: normal;
    margin-left: 16px;
    padding-right: 5px;
     
    font-weight: lighter;   
}
.zxz:hover{
    background-color:#398b47;
    z-index: 1;
    transition: 0s ease-in-out;
    transform: scale(1.01);
}
.zxz{
    
    position: relative;
    top: -65px;
    left: 296px;
    /* z-index: 1; */
    background-color: #44a053;;
    width: 290px; 
    /* border: 1px transparent rgb(230, 169, 17); */
    border-radius: 7px;
    padding-bottom: 3px;
}
#m14{
    width: 100%;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
}
#v9{
    margin-top: 13px;
    margin-left: 18px;
    /* padding-left: 18px; */
    padding-right: 5px;
    text-align: left;
    color:white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 22px;
    font-weight: lighter;
    /* line-height: -45px; */
}
#x9{
    text-decoration: none;
}
#v10{
    color:black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16;
    text-align: left;
    font-style: normal;
    margin-left: 24px;
    margin-right: 4px; 
    font-weight: lighter;   
}
.xcv:hover{
    background-color:#e62d83;
    z-index: 1;
    transition: 0s ease-in-out;
    transform: scale(1.01);
}
.xcv{
    position: relative;
    top: -400px;
    left: 605px;
    /* z-index: 1; */
    background-color: #ee75ad;;
    width: 280px;
    height: 340px; 
    /* border: 1px transparent rgb(230, 169, 17); */
    border-radius: 5px;
    padding-bottom: 3px;
}
#m16{
    width: 100%;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
}
#v11{
    margin-top: 13px;
    margin-left: 25px;
    /* padding-left: 18px;
    padding-right: 7px; */
    text-align: left;
    color:white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 22px;
    font-weight: lighter;
    /* line-height: -45px; */
}
#x10{
    text-decoration: none;
}
#v12{
    color:#af2164;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    text-align: left;
    font-style: normal;
    /* margin: 10px auto; */
    margin-left: 24px;
    margin-right: 4px; 
    font-weight: lighter;   
}
.cvb:hover{
    background-color:rgb(202, 61, 17);
    z-index: 1;
    transition: 0s ease-in-out;
    transform: scale(1.01);
}
.cvb{
    position: relative;
    top: -365px;
    left: 19px;
    z-index: 1;
    background-color: rgb(247, 71, 18);;
    width: 260px; 
    /* border: 1px transparent rgb(230, 169, 17); */
    border-radius: 5px;
    padding-bottom: 3px;
}
#m17{
    width: 100%;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
}
#v13{
    margin-left: 22px;
    /* padding-left: 24px; */
    /* padding-right: 7px; */
    text-align: left;
    color:white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 22px;
    font-weight: lighter;
    /* line-height: -45px; */
}
#x11{
    text-decoration: none;
}
#v14{
    color:lightgray;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    font-style: normal;
    margin-left: 24px; 
    font-weight: lighter;   
}
.xyy:hover{
    background-color:#c55520;;
    z-index: 1;
    transition: 0s ease-in-out;
    transform: scale(1.01);
}
.xyy{
    position: relative;
    top: -950px;
    left: 297px;
    /* z-index: 1; */
    background-color: #ee6b2f;;
    width: 290px; 
    /* border: 1px transparent rgb(230, 169, 17); */
    border-radius: 5px;
    padding-bottom: 3px;
    
}
#m18{
    width: 100%;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
}
#v15{
    margin-top: 13px;
    margin-left: 8px;
    padding-left: 18px;
    padding-right: 7px;
    text-align: left;
    color:white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 24px;
    font-weight: lighter;
    /* line-height: -45px; */
    }
#x12{
    text-decoration: none;
}
#v16{
    color:black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: medium;
    text-align: left;
    font-style: normal;
    margin-left: 24px;
    margin-right: 4px; 
    font-weight: lighter;   
}
.cbb:hover{
    background-color:#a38a5e;
    z-index: 1;
    transition: 0s ease-in-out;
    transform: scale(1.01);
}
.cbb{
    position: relative;
    top: -1435px;
    left: 604px;
    /* z-index: 1; */
    background-color:#C7AA79;
    width: 282px; 
    /* border: 1px transparent rgb(230, 169, 17); */
    border-radius: 7px;
    padding-bottom: 2px;
}
#m19{
    width: 100%;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
}
#v17{
    margin-top: 13px;
    margin-left: 20px;
    /* padding-left: 18px;
    padding-right: 9px; */
    text-align: left;
    color:white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 24px;
    font-weight: lighter;
    margin-bottom: -7px;
    /* line-height: -45px; */
}
#x13{
    text-decoration: none;
}
#v18{
    color:#5c4d30;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: medium;
    text-align: left;
    font-style: normal;
    margin-left: 24px;
    margin-right: 4px; 
    font-weight: lighter;   
}
#mqm{
    position: relative;
    top: 440px;
    left: 294px;
    color:grey;
    text-align: left;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: xx-large;
    font-weight: lighter;
}
.vbb:hover{
    z-index: 1;
    transition: 0s ease-in-out;
    transform: scale(1.01);
}
.vbb{
    position: relative;
    top: -1420px;
    left: 607px;
   /* z-index: 1; */
    /* background-color: #212121; */
    /* width: 300px;  */
    /* border: 1px transparent rgb(230, 169, 17); */
    border-radius: 10px;
    padding-bottom: 3px; 
}
#m20{
    border-radius: 09px;
    border-bottom-right-radius:19px;
}
.ccc{
    clear: both;
    
    height: 320px;
    width: 100%;
    margin-top: 50px;
    margin-left:-10px ;
    /* margin-bottom: -250px ; */
    background-color: #1d1c1c;
}
#p1,#p2,#p3,#p4,#p5,#p6,#p7{
    display: block;
    margin-left: 220px;
    padding: 1px;
    margin-bottom: 5px;
    text-decoration: none;
    /* list-style: armenian;
    color: #1d1c1c; */
}
#tpc{
    padding-top: 40px ;
    /* margin-top: 20px;  */
    margin-left: 245px;
    font-size: x-large;
    color: white;
    text-shadow: 4px 1px black;
    font-size: 20px;   
    
}
#u1,#u2,#u3,#u4,#u5,#u6,#u7{
    text-decoration: none;
    color: #474545;
    font-weight: bold; 
    font-size: medium;   
    list-style-type: circle;
    
}
.vl1{
    position: relative;
    top:-234px ;
    left: 560px;
        
}
#u8,#u9,#u10,#u11,#u12{
    padding-right: 6px;
    border: 2px;
    border-radius: 15px;
}
.vl2{
    position: relative;
    top: -200px;
    left: 885px;
}
#u13,#u14,#u15,#u16,#u17{
    display: inline-block;
        position: relative;
    top:-50px ;
    left: 150px;
    padding: 4px;
    color: #313131;
    font-size: small;
}
#n125{
    color: #313131;
    position: relative;
    top: -60px;
    font-size: small;
}